#name-input{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #2e2f42;
        padding: 8px 0 8px 16px;
        margin-top: 24px;
        border: 1px solid #808080;
            border-radius: 4px;
            min-width: 360px;
   transition: border 2s ;
}

#name-input:focus,
#name-input:hover{
border: 1px solid #000;
}

h1, #name-output{
    font-weight: 600;
        font-size: 24px;
        line-height: 1.33333;
        letter-spacing: 0.04em;
        color: #2e2f42;
        margin-top: 16px;
        max-height: 32px;
}